<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Dobrý den, uživatel <%= @sender.email %> Vám na stránce www.registrnajmu.cz zaslal novou zprávu</h1>

 
    <h3> <%= @contact.subject %> </h3>
    <p><%= @contact.content %></p>
  </body>
</html>
