<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dobrý den, <%= @user.name %>!</h1>
    <p>Na Vámi hlídaném předmětu: <%= @subject.name %>, na stránce www.registrnajmu.cz nastala změna. </p>
  </body>
</html>
