<h1>Registr nájmů</h1>
<p>Dle NOZ (Noveho obcanskeho zakoniku) nemuze najemce dal veci pronajimat, coz ale nemusi treti strana vedet.<br>
Proto vznikl tento simple projekt, kde lze tyto veci najit - tj. vlastnik si zada, co pronajima a komu/do kdy - nasledne jde vyhledavat <br>
(pozor, nemusi to byt jen nemovitosti  - coz se da overit, ale i movite veci apod.)</p>


