<p>Dobrý den <%= @resource.email %>!</p>

<p>Někdo požádal o změnu Vašeho heslo. Změnu můžete provést pomocí nůže uvedého odkazu</p>

<p><%= link_to 'Změnit heslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Pokud jste o změnu hesla nežádali, prosím ignorujte tento email.</p>
<p>Vaše heslo se nezmění, dokud nevytvoříte nové heslo přes výše uvedený odkaz.</p>
