<p>Dobrý den <%= @resource.email %>!</p>

<p>Váš účet byl uzamčen kvůli nadměrnému počtu neúspěšných pokusů o přihlášení.</p>

<p>KLikněte na odkaz níže pro odemčení účtu:</p>

<p><%= link_to 'Odemknout účet', unlock_url(@resource, unlock_token: @token) %></p>
